.disableStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-title {
  text-align: center;
}

.realtyList {
  margin: 0 auto;
  width: 1024px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.realtyCard {
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid rgba(200, 200, 200, 0.5);
  border-radius: 15px;
  width: 236px;

  display: flex;
  flex-direction: column;
}

.realtyCard:hover {
  border-color: rgba(150, 150, 150, 0.7);
  box-shadow: 0 10px 20px rgb(150, 150, 150);
  transition: 0.3s;
}

.realtyCard__title {
  margin-bottom: 20px;
  text-align: center;
}

.realtyCard__LinkAboutRealty {
  text-decoration: none;
  color: #000;
}

.realtyCard__address {
  margin-bottom: 20px;
}

.realtyCard__preview--bgc {
  background-color: tomato;
}

