.disableStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-title {
  text-align: center;
}

.realtyList {
  margin: 0 auto;
  width: 1024px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.realtyCard {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid rgba(200, 200, 200, 0.5);
  border-radius: 15px;
  width: 236px;

  display: flex;
  flex-direction: column;
}

.realtyCard:hover {
  border-color: rgba(150, 150, 150, 0.7);
  box-shadow: 0 10px 20px rgb(150, 150, 150);
  transition: 0.3s;
}

.realtyCard__title {
  margin-bottom: 20px;
  text-align: center;
}

.realtyCard__LinkAboutRealty {
  text-decoration: none;
  color: rgb(0, 149, 240);
}

.realtyCard__LinkAboutRealty:hover {
  text-decoration: none;
  color: #ff6163;
}

.realtyCard__price {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.realtyCard__address {
  margin-bottom: 20px;

  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.44);
}

.realtyCard__preview--bgc {
  background-color: tomato;
}

.realty {
  margin: 0 auto;
  width: 1024px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.realty__title {
  margin-bottom: 20px;
}

.realty__price,
.realty__address,
.realty__description,
.realty__seller {
  margin: 10px 0;

  color: #000;
}

.realty__title span,
.realty__price span,
.realty__address span,
.realty__description span,
.realty__seller span {
  color: rgba(0, 0, 0, 0.44);
}

.realty-gallery {
  position: relative;
}

.realty-gallery__prevBtn,
.realty-gallery__nextBtn {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: 30px solid transparent;
  z-index: 1;
  background-color: transparent;
}

.realty-gallery__prevBtn {
  left: 0;
  border-right-color: rgba(200, 200, 200, 1);
}

.realty-gallery__prevBtn:hover {
  border-right-color: rgba(150, 150, 150, 0.7);
}

.realty-gallery__prevBtn:active {
  border-right-color: rgba(100, 100, 100, 0.7);
}

.realty-gallery__nextBtn {
  right: 0;
  border-left-color: rgba(200, 200, 200, 1);
}

.realty-gallery__nextBtn:hover {
  border-left-color: rgba(150, 150, 150, 0.7);
}

.realty-gallery__nextBtn:active {
  border-left-color: rgba(100, 100, 100, 0.7);
}

.realty-gallery__prevBtn,
.realty-gallery__nextBtn {
  transition: 0.3s;
}





.realty-gallery__container {
  width: auto;
  overflow: hidden;

  display: flex;
  position: relative;
}

.realty-gallery__item {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.realty-gallery__item img {
  width: 100%;
  height: auto;
}
