@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Thin'), local('Proxima-Nova-Thin'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('Proxima-Nova-Light'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.disableStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer {
  margin-top: auto;
}

.page-title {
  position: relative;

  width: 960px;
  margin: 54px auto 30px;

  text-align: left;
  text-transform: uppercase;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #003ba7;
}

.page-title::before {
  content: "";
  position: absolute;
  bottom: -3px;

  width: 470px;
  height: 1px;
  background-color: #c6c6c6;
}

.realtyList {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  margin: 0 auto;
  padding: 20px 0;
  width: 992px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  overflow: hidden;
}

.realtyCard {
  position: relative;

  -ms-flex-preferred-size: 203px;

      flex-basis: 203px;
  width: 203px;
  height: 267px;

  -ms-flex-item-align: stretch;

      -ms-grid-row-align: stretch;

      align-self: stretch;

  margin: 13px 12px;
  padding: 15px 8px 20px;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(238, 238, 238);

  border-radius: 6px;

  overflow: hidden;
}

.realtyCard:hover {
  margin: 0;
  padding: 15px 20px 14px;
  border-color: rgb(228, 228, 228);
  -webkit-box-shadow: 3px 3px 8px rgb(145, 145, 144);
          box-shadow: 3px 3px 8px rgb(145, 145, 144);
  -webkit-transform: scale(1.0);
      -ms-transform: scale(1.0);
          transform: scale(1.0);
  flex-basis: 203px;
  width: 203px;
  height: 299px;
}

.realtyCard__title {
  margin-bottom: 10px;

  text-align: left;
  word-wrap: break-word;

  width: 202px;
  min-height: 40px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.realtyCard__title a {
  text-decoration: none;

  color: #003ba7;
}

.realtyCard__ImgLink {
  display: block;

  margin-bottom: 12px;
}

.realtyCard__preview {
  vertical-align: top;
}

.realtyCard__price {
  width: 202px;
  word-wrap: break-word;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.realtyCard__address {
  width: 202px;

  word-wrap: break-word;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  overflow: hidden;
}

.realtyCard__preview--bgc {
  background-color: tomato;
}

.realtyCard span {
  z-index: -1;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.realtyCard .realtyCard__btn {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #e4e4e4;
  text-decoration: none;

  -ms-flex-preferred-size: 100%;

      flex-basis: 100%;
  padding: 2px 5px;
  background-color: #c50f0f;
  border-radius: 3px;
}

.realtyCard:hover span {
  z-index: 1;
}

.page-footer {
  width: 100%;
  min-height: 30px;
  background-color: #e5e5e5;
}

.realty {
  margin: 0 auto;
  width: 960px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.realty__title {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.realty__price,
.realty__address,
.realty__description,
.realty__seller {
  margin: 10px 0;

  word-wrap: break-word;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.realty__title span,
.realty__price span,
.realty__address span,
.realty__description span,
.realty__seller span {
  color: rgba(0, 0, 0, 0.44);
}

.realty-gallery {
  position: relative;
}

.realty-gallery__prevBtn,
.realty-gallery__nextBtn {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  border: 30px solid transparent;
  z-index: 1;
  background-color: transparent;
}

.realty-gallery__prevBtn {
  left: 0;
  border-right-color: rgba(200, 200, 200, 1);
}

.realty-gallery__prevBtn:hover {
  border-right-color: rgba(150, 150, 150, 0.7);
}

.realty-gallery__prevBtn:active {
  border-right-color: rgba(100, 100, 100, 0.7);
}

.realty-gallery__nextBtn {
  right: 0;
  border-left-color: rgba(200, 200, 200, 1);
}

.realty-gallery__nextBtn:hover {
  border-left-color: rgba(150, 150, 150, 0.7);
}

.realty-gallery__nextBtn:active {
  border-left-color: rgba(100, 100, 100, 0.7);
}

.realty-gallery__prevBtn,
.realty-gallery__nextBtn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.realty-gallery__container {
  width: auto;
  overflow: hidden;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  position: relative;
}

.realty-gallery__item {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.realty-gallery__item img {
  width: 100%;
  height: auto;
}
